.about {
  position: relative;
  z-index: 7;
  background-image: url("../img/about-mobile.png");
  background-repeat: no-repeat;
  background-position: top 18px right 8px;
  background-color: $special-midnight;
  padding: 29px 50px 65px 50px;
  border-radius: 0 0 30px 30px;
  margin-top: -1px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/about-bg-tablet.png");
    background-repeat: no-repeat;
    background-position: top 73px right 8px;
    padding: 78px 74px 89px 74px;
    border-radius: 0 0 61px 61px;
  }

  @media (min-width: $desktop-width) {
    background-image:
      url("../img/about-bg-desktop.png"),
      url("../img/about-bg-rect-desktop.png");
    background-repeat: no-repeat, no-repeat;
    background-position:
      top 87px right 60px,
      top 70px left 60px;
    padding: 133px 48% 165px 130px;
  }
}

.about__title {
  padding: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.about__text {
  line-height: 22px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    padding-right: 320px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.about__text--strong {
  font-weight: bold;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 150px 0 0;
    margin-bottom: 86px;
  }
}

.about__show-all-button {
  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    width: 44%;
    font-size: 24px;
    line-height: 24px;
    padding: 27px 30px 28px 33px;
    border-radius: 20px;
  }
}
