.alphabet {
  display: none;
  position: absolute;
  top: 293px;
  width: calc(100% - 50px);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  z-index: 10;
  background-color: $white;

  @include popup-shadow;

  @media (min-width: $tablet-width) {
    // display: grid;
    grid-template-columns: 1fr 34%;
    top: 445px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    top: 503px;
    width: 730px;
  }
}

.alphabet__title {
  color: white;

  @include flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;

  justify-content: space-between;
  padding: 13px 11px 11px 16px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  border-radius: 4px 4px 0 0;
  background-color: $basic-blue-dark;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    padding: 27px 25px 23px 25px;
    width: 57%;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 25px;
    letter-spacing: 0.1em;
    margin-bottom: 34px;
    width: 93%;
  }
}

.alphabet__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(5, 55px);
    grid-template-rows: repeat(6, 70px);
    padding: 36px 0 0 27px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(5, 60px);
    gap: 15px;
    padding: 0 0 0 25px;
  }
}

.alphabet--catalog {
  position: static;
  box-sizing: border-box;
  width: 100%;
  box-shadow: none;
  background-color: $special-blue-grey-light;
  padding: 0 50px 27px 50px;
  border-radius: 0 0 26px 26px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 39%;
    padding-left: 42px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    padding: 50px 36px 0 37px;
    margin-bottom: 16px;
  }
}

.alphabet__list--catalog {
  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(6, auto);
    gap: 14px 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 45px 1px;
  }
}

.alphabet__item {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  border: 1px solid $special-grey-borders;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    border-radius: 4px;
  }
}

.alphabet__item--catalog {
  @media (min-width: $tablet-width) {
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }
}

.alphabet__item--extra-padding-on-desktops {
  @media (min-width: $desktop-width) {
    padding-top: 35px;
  }
}

.alphabet__letter {
  @include flex;
  @include flex-center;

  padding: 11px 16px 10px 15px;

  @media (min-width: $tablet-width) {
    width: 55px;
    height: 70px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    border-radius: 4px;
    width: 60px;
  }
}

.alphabet__letter--catalog {
  background-color: $white;

  @media (min-width: $tablet-width) {
    background-color: inherit;
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    opacity: 1;
    color: $basic-blue-dark;
  }
}

.alphabet__letter--selected {
  background-color: $basic-blue-dark;
  color: $white;

  @media (min-width: $tablet-width) {
    background-color: inherit;
    color: $basic-blue-dark;
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    color: $basic-blue-dark;
  }
}

.alphabet__countries-list {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 18px 19px;
  color: $special-grey;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 38px 19px 18px 23px;
  }

  @media (min-width: $desktop-width) {
    padding: 3px 19px 18px 32px;
  }
}

.alphabet__countries-list--catalog {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 0 28px 0;
  background-color: $special-blue-grey-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 38px 0 28px 68px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.alphabet__countries-list--desktop-only {
  display: none;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    display: block;
    padding: 26px 0 0 0;
    text-align: left;
  }
}

.alphabet__country {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    margin-bottom: 10px;
    letter-spacing: 0.01em;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.alphabet__country--catalog {
  margin-bottom: 0;
}

.alphabet--open {
  display: block;

  @media (min-width: $tablet-width) {
    display: grid;
  }
}

.alphabet__country--long-name {
  @media (min-width: $tablet-width) {
    letter-spacing: -1px;
  }
}

.alphabet__country--catalog-long-name {
  @media (min-width: $tablet-width) {
    letter-spacing: normal;
  }
}
