.button {
  font-family: $main-font;
  box-sizing: border-box;
  display: inline-block;
  background-color: $basic-yellow;
  color: $basic-blue;
  border: none;
}

.button--authorization {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-radius: 25px;
  padding: 12px 81px 8px 78px;
  cursor: pointer;
}

.button--autorization-smaller {
  line-height: 20px;
  padding: 11px 40px 9px 39px;
}

.button--show-all {
  @include flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border-radius: 10px;
  padding: 22px 29px 22px 29px;
}

.button--business-rates {
  color: $special-blue;
  font-weight: bold;
  line-height: 16px;
  background-color: inherit;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.button--register {
  border-radius: 20px;
  padding: 24px;

  @media (min-width: $tablet-width) {
    border-radius: 0 20px 20px 0;
    padding: 31px;
  }
}

.button--rout {
  @include flex;
  justify-content: space-between;
  width: 100%;
  border: 3px solid $special-midnight;
  border-radius: 10px;
  padding: 22px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding: 29px 35px 27px 37px;
  }

  @media (min-width: $desctop-width) {
    width: 324px;
  }
}

.button--change-photo {
  width: 100%;
  padding: 11px;
  margin-bottom: 33px;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  background-color: $special-blue-light;
}

.button--next-step {
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  margin-bottom: 13px;
  padding: 6px 41px 4px 43px;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.button--step-backwards {
  background-color: transparent;
}

.button--close-flag {
  position: absolute;
  top: -13px;
  right: -16px;
  background-color: transparent;
}

.button--calendar {
  background-color: transparent;
}

.button--minimize {
  width: 100%;
  padding: 10px 10px 9px 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: $special-blue-grey;
}

.button--open-filter {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: $special-blue-grey-light;
}

.button--companion-submit {
  background-color: $white;
  width: 100%;
  padding: 12px 73px 12px 72px;
  font-style: normal;
  border-radius: 25px;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}
