.button {
  font-family: $main-font;
  box-sizing: border-box;
  display: inline-block;
  background-color: $basic-yellow;
  color: $basic-blue;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $special-orange-light;
  }

  &:active {
    color: $basic-blue-opacity;
  }
}

.button--show-all {
  @include flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  padding: 25px 22px 23px 23px;
  line-height: 13px;

  @media (min-width: $tablet-width) {
    padding: 28px 38px 28px 31px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 29px 35px 27px 33px;
  }
}

.button--show-all-countries {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    flex-basis: 30%;
    background-color: inherit;
  }
}

.button--business-rates {
  display: flex;
  align-items: center;
  color: $special-blue;
  font-weight: bold;
  line-height: 16px;
  background-color: inherit;

  &:hover {
    background-color: inherit;
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.button--register {
  border-radius: 10px;
  padding: 25px 21px 20px 28px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    border-radius: 0 20px 20px 0;
    padding: 36px 35px 27px 35px;
  }

  @media (min-width: $desktop-width) {
    @include flex;
    align-items: center;
    justify-content: space-between;
    min-width: 324px;
    padding: 29px 35px 28px 36px;
  }
}

.button--rout {
  @include flex;
  justify-content: space-between;
  width: 100%;
  border: 3px solid $special-midnight;
  border-radius: 10px;
  padding: 22px 19px 21px 19px;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;

  &:hover {
    color: $white;
    background-color: $basic-blue;
  }

  &:active {
    color: $basic-white-opacity;
  }

  @media (min-width: $tablet-width) {
    padding: 27px 32px 23px 35px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 324px;
  }
}

.button--change-photo {
  width: 100%;
  padding: 11px;
  margin: 7px 25px 32px 25px;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  background-color: $special-blue-light;

  @media (min-width: $tablet-width) {
    order: 5;
    margin: 10px 75px 52px 75px;
    padding: 21px;
    letter-spacing: 0.09em;
  }

  @media (min-width: $desktop-width) {
    border-radius: 0 0 20px 20px;
    padding: 15px;
    position: absolute;
    top: 190px;
    right: 0;
    width: 190px;
  }
}

.button__text {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.button__text-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.button__arrow {
  font-size: 16px;
}

.button__text-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.button__text-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.button__text--show-on-desktop {
  display: initial;
}

.button--next-step {
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  margin-bottom: 13px;
  padding: 7px 39px 3px 42px;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include flex;

    justify-content: space-between;
    align-items: center;
    text-transform: none;
    font-size: 24px;
    line-height: 24px;
    width: 53%;
    margin-left: -2px;
    padding: 29px 31px 27px 34px;
  }
}

.button--step-backwards {
  background-color: transparent;
  padding: 1px 39px 3px 38px;
  margin-bottom: 0;

  &:hover {
    background-color: inherit;
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 47%;
    padding: 0px 0px 15px 71px;
  }
}

.button--close-flag {
  @include flex;
  @include flex-center;

  width: 21px;
  height: 21px;
  border-radius: 50%;
  position: absolute;
  top: -11px;
  right: -11px;
  background-color: $basic-blue-light;
  color: $special-icon-grey;

  @media (min-width: $tablet-width) {
    top: 9px;
    right: -18px;
    width: 50px;
    height: 50px;
    background-color: transparent;
  }
}

.button--calendar {
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: $special-blue-dark-opacity;

  &:hover {
    background-color: inherit;
    color: $black;
  }

  &:active {
    background-color: inherit;
    opacity: 0.1;
  }

  @media (min-width: $tablet-width) {
    margin: 0 7px;
  }
}

.button--close-alphabet {
  color: $white;
  background-color: inherit;
  opacity: 0.3;

  &:hover {
    background-color: inherit;
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
  }
}

.button--less {
  @include flex;
  @include flex-center;

  z-index: 2;
  margin-left: 14px;
  grid-column: 1 / -1;
  grid-row: 1;
  justify-self: start;

  @media (min-width: $tablet-width) {
    margin-left: 21px;
  }
}

.button--more {
  margin-right: 14px;
  grid-column: 1 / -1;
  grid-row: 1;
  justify-self: end;

  @media (min-width: $tablet-width) {
    margin-right: 6px;
  }
}

.button--minimize {
  width: 100%;
  padding: 10px 10px 9px 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: $special-blue-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.button--open-filter {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: $special-blue-grey-light;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.button--companion-submit {
  background-color: $white;
  width: 100%;
  padding: 12px 73px 12px 72px;
  font-style: normal;
  border-radius: 25px;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}

.button--catalog {
  grid-area: button;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  padding: 16px 33px 14px 33px;

  @media (min-width: $desktop-width) {
    min-width: 150px;
  }
}

.button--previous {
  padding: 0;
}

.button--next {
  padding: 0;
}

.button__arrow-icon--reflect {
  @media (min-width: $tablet-width) {
    transform: scale(-1, 1);
  }
}
