.calendar {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.calendar__header {
  @include grid-small;
  border-top: 1px solid $special-grey-borders;
  border-bottom: 1px solid $special-grey-borders;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }
}

.calendar__title {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  padding: 11px 10px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 25px 10px;
  }
}

.calendar__months {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.calendar__day-name {
  padding: 0 0 8px 6px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-bottom: 19px;
  }
}

.calendar__text-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.calendar__text-tablet {
  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: inline;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10px;
  }
}

.calendar__day-name--weekend {
  color: $special-orange-borders;
}

.calendar__day {
  border: 1px solid $special-grey-borders;
  padding: 0;
  width: 32px;
  position: relative;

  &::after {
    content: "";
    display: block;
    margin-top: 98%;

    @media (min-width: $tablet-width) {
      margin-top: 90%;
    }

    @media (min-width: $desktop-width) {
      margin-top: 71px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 144px;
  }
}

.calendar__button {
  font-family: $main-font;
  border: none;
  background: none;
  width: 100%;
  min-height: 100%;
  color: $special-blue-dark-opacity;

  @include absolute-center;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    @include flex;
    padding: 12px;
  }
}

.calendar__button--availible-day {
  background-color: $basic-blue-light;
  color: $basic-blue-dark;
  font-weight: 500;

  &:hover {
    border: 2px solid $special-orange-borders;
    background-color: $basic-blue-dark;
    color: $white;
  }

  @media (min-width: $desktop-width) {
    border: 1px solid $special-grey-borders;
  }
}

.calendar__button--selected {
  background-color: $basic-blue-dark;
  color: $white;
  font-weight: 500;
}

.calendar__arrival-date {
  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: left;
  }
}

.calendar__leaving-date {
  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: left;
  }
}

.calendar__button--current {
  border: 2px solid $special-orange-borders;
}


.calendar__icon {
  @media (min-width: $tablet-width) {
    width: 36px;
    height: 40px;
  }
}
