.companions {
  position: relative;
  z-index: 5;
  margin-top: -30px;
  padding: 78px 25px 31px 25px;
  border-radius: 0 0 30px 30px;
  background-color: $basic-blue;
  background-image: url("../img/companions-bg.png");
  background-repeat: no-repeat;
  background-position: top 64px left -2px;

  @media (min-width: $tablet-width) {
    padding: 164px 74px 87px 74px;
    background-image: url("../img/companions-bg-tablet.png");
    background-repeat: no-repeat;
    background-position: top 129px right 74px;
    margin-top: -60px;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(4, auto);
    padding: 194px 60px 54px 119px;
    border-radius: 0 0 56px 56px;
    background-image: url("../img/companions-bg-desktop.png");
    background-repeat: no-repeat;
    background-position: top 130px left 60px;
  }
}

.companions__text {
  padding: 0 25px;
  font-weight: 300;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding: 17px 140px 0 0;
    font-size: 28px;
    line-height: 34px;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    margin: 0;
    padding: 49px 140px 0 10px;
  }
}

.companions__text--strong {
  margin-bottom: 54px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    justify-self: flex-start;
    padding: 40px 0 0 10px;
    grid-row: 3;
    grid-column: 1;
    margin: 0 0 165px 0;
  }
}


.companions__list {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include flex;

    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    grid-column: 2;
    grid-row: 1 / -1;
  }
}

.companions__item {
  &:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.16));
  }

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }

  &:last-of-type {
    @media (min-width: $tablet-width) {
      margin-right: 0;
    }
  }
}

.companions__link {
  @media (min-width: $desktop-width) {
    width: 280px;
    justify-self: baseline;
    grid-row: 3;
    grid-column: 1;
    align-self: end;
    margin-left: 12px;
  }
}
