.companions {
  @include outline;

  background: url("../img/companions-bg.png") no-repeat;
  background-color: $basic-blue;
  padding: 0 25px 20px 25px;
}

.companions__title {
  @include title;
}

.companions__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}
