.continents {
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  padding: 15px 0 15px 0;
  color: $special-midnight;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.continents--catalog {
  display: none;
  padding: 31px 48px 12px 48px;

  @media (min-width: $tablet-width) {
    order: 1;
    display: block;
  }

  @media (min-width: $desktop-width) {
    padding: 29px 48px 12px 23px;
    flex: 1;
  }
}

.continents__list {
  @media (min-width: $tablet-width) {
    @include flex;
  }
}

.continents__item {
  margin-bottom: 9px;
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }
}

.continents__link {
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }
}

.continents__link--active {
  opacity: 1;
}

.continents--open {
  display: block;
}
