.contact-list {
  @include flex;
  @include flex-center;
}

.contact-list__item--menu-open {
  flex-basis: 100%;
  padding-left: 25px;
}

.contact-list__link {
  @include flex;

  align-items: center;
  font-weight: bold;
  line-height: 18px;
  color: $special-midnight;
}

.contact-list__image {
  margin-right: 17px;
}

.contact-list__link--yellow {
  color: $basic-yellow;
}
