.continents {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-midnight-opacity;
}

.continents__item {
  margin-bottom: 9px;
}

.continents__item--active {
  color: $special-midnight;
}
