.contact-list {
  @include flex;
  @include flex-center;
  color: $special-midnight;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    align-items: baseline;
    padding: 1px 3px 0 0;
    margin: 0;
  }
}

.contact-list--interested-section {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 868px;
    margin: auto;
  }
}

.contact-list__item {
  flex-basis: 100%;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    @include flex;
    @include flex-center;
    flex-basis: 50%;
    padding: 0;
    margin: 0;
  }
}

.contact-list__link {
  @include flex;
  @include flex-center;

  width: 40px;
  height: 40px;
  align-items: center;
  font-weight: bold;
  line-height: 18px;
  background-color: $basic-yellow;
  border-radius: 50%;

  &:hover {
    color: $special-orange;
  }

  &:active {
    color: $basic-yellow-opacity;
  }

  @media (min-width: $desktop-width) {
    width: 50px;
    height: 50px;
  }
}

.contact-list__link--interested-section {
  width: auto;
  height: auto;
  justify-content: flex-start;
  position: relative;
  color: $basic-yellow;
  background-color: inherit;
}

.contact-list__link--phone {
  background-color: $special-orange;

  &:hover {
    background-color: $special-orange-hover;
  }
}

.contact-list__link--phone:active .contact-list__image {
  opacity: 0.3;
}

.contact-list__link--mail {
  background-color: $special-orange-light;

  &:hover {
    background-color: $special-orange;
  }
}

.contact-list__link--mail:active .contact-list__image {
  opacity: 0.3;
}

.contact-list__text {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.contact-list__link--menu {
  justify-content: flex-start;

  &:hover {
    background-color: inherit;
    color: $special-orange;
  }

  &:hover .contact-list__icon-container--menu {
    color: $special-orange;
  }

  &:active {
    color: $basic-yellow-opacity;
  }

  &:active .contact-list__icon-container--menu {
    color: $basic-yellow-opacity;
  }

  @media (min-width: $mobile-width) and (max-width: 1439px) {
    position: relative;
    width: auto;
    height: auto;
    background-color: inherit;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.contact-list__link--blue-bg-mail {
  @media (min-width: $desktop-width) {
    transform: translateY(7px);
  }
}

.contact-list__image--menu {
  display: none;

  @media (min-width: $desktop-width) {
    display: initial;
  }
}

.contact-list__item--interested-section {
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-basis: auto;
  }
}

.contact-list__link--header-phone:hover {
  @media (min-width: $desktop-width) {
    background-color: $special-orange-hover;
  }
}

.contact-list__link--header-phone:active .contact-list__image {
  opacity: 0.3;
}

.contact-list__link--header-mail:hover {
  @media (min-width: $desktop-width) {
    background-color: $special-orange;
  }
}

.contact-list__link--header-mail:active .contact-list__image {
  opacity: 0.3;
}

.contact-list__image--interested-section {
  @media (min-width: $desktop-width) {
    margin-right: 31px;
    width: 90px;
    height: 90px;
  }
}

.contact-list__item--index-body {
  flex-basis: auto;
}

.contact-list--menu-open {
  @media (min-width: $mobile-width) and (max-width: 1439px) {
    margin-bottom: 113px;
  }
}

.contact-list__icon-container {
  @include flex;
  @include flex-center;

  width: 45px;
  height: 45px;
  margin-right: 16px;
  background-color: $special-blue-bg;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
    margin-right: 23px;
  }

  @media (min-width: $desktop-width) {
    width: 90px;
    height: 90px;
    margin-right: 32px;
  }
}

.contact-list__icon {
  @media (min-width: $tablet-width) {
    width: 37px;
    height: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 47px;
    height: 50px;
  }
}

.contact-list__icon--old-phone {
  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 36px;
    height: 34px;
  }
}

.contact-list__icon-container--menu {
  color: $basic-yellow;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
