.filtered {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1;
  }
}

.filtered__item {
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 15px 26px 23px 26px;
  background-color: $white;

  @media (min-width: $desktop-width) {
    padding: 0 43px 0 0;
    min-height: 286px;
  }
}

.filtered__item--catalog {
  padding: 15px 26px 14px 18px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 48px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 61px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 35px 26px 14px 35px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 30px;
  }
}

.filtered__show-more-button {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 15px;
  margin-bottom: 23px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: $basic-blue-dark;

  &::before {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    content: "";
    background-image: url("../img/icon-plus-more.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 13px;
      left: -2px;
      width: 26px;
      height: 26px;
      background-size: 26px 26px;
      background-position: center;
    }

    @media (min-width: $desktop-width) {
      left: -45px;
    }
  }

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 145px;
    padding-left: 43px;
    margin: 0 auto 47px auto;
    font-size: 20px;
    font-weight: bold;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 23px;
    margin-bottom: 67px;
  }
}

.filtered__icon-show-more-arrow--reflect {
  transform: scale(-1, 1);
}

.filtered__plus-icon {
  margin-right: 16px;
}

.filtered__pagination-container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 20%;
    padding: 25px 7px 25px 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    border-radius: 20px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 15%;
  }
}

.filtered__button-list {
  @include flex;

  justify-content: space-evenly;
  border-radius: 20px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-right: 4px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    padding-right: 13px;
  }
}

.filtered__button {
  @include flex;
  @include flex-center;

  flex: 1;
  cursor: pointer;
  background-color: $white;
  margin-right: 1px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    flex-basis: unset;
  }
}

.filtered__button--previous {
  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-right: 5px;
  }
}

.filtered__pagination {
  display: none;

  @media (min-width: $tablet-width) {
    @include flex;
  }
}

.filtered__pagination-items {
  @include flex;
  @include flex-center;
}

.filtered__link {
  @include flex;
  @include flex-center;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  &:hover {
    opacity: 0.6;
  }
}

.filtered__link--arrow {
  width: 100%;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.filtered__link--active {
  background-color: $basic-yellow;
  opacity: 1;
}
