.flag-list {
  @include flex;
  @include flex-center;

  padding-top: 28px;
}

.flag-list--index {
  position: absolute;
  left: 0;
  right: 0;
  top: -44px;
}

.flag-list--catalog {
  padding: 10px 0 4px 7px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    grid-area: flag-list;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.flag-list__item {
  @include flex;
  margin-right: 21px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.flag-list__text {
  font-weight: 500;
  margin-left: 14px;

  @media (min-width: $tablet-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
}

.flag-list__text--catalog {
  margin: 0 0 0 13px;
  text-transform: uppercase;
}

.flag-list__item--companions-filtered {
  flex-basis: 100%;
  align-items: center;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    flex-basis: initial;
  }
}
