
.visually-hidden {
  @include visually-hidden;
}

.link-reset {
  @include link-reset;
}

.list-reset {
  @include list-reset;
}

.button-reset {
  @include button-reset;
}

.hide-on-mobile {
  @media (min-width: $mobile-width) and (max-width: 767px) {
    display: none;
  }
}

.hide-on-tablets {
  @media (min-width: $tablet-width) and (max-width: 1439px) {
    display: none;
  }
}

.hide-on-desktops {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
