.visually-hidden {
  @include visually-hidden;
}

.link-reset {
  @include link-reset;
}

.list-reset {
  @include list-reset;
}

.button-reset {
  @include button-reset;
}

.line-break {
  display: none;

  @media (min-width: $tablet-width) {
    display: initial;
  }
}

.line-break--off {
  display: initial;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
