.interested {
  position: relative;
  margin-top: -30px;
  z-index: 3;
  background-color: $special-midnight;
  text-align: center;
  border-radius: 0 0 30px 30px;
  padding: 82px 25px 29px 25px;

  @media (min-width: $tablet-width) {
    padding: 103px 75px 59px 75px;
    border-radius: 0 0 60px 60px;
    margin-top: -61px;
  }

  @media (min-width: $desktop-width) {
    padding: 133px 133px 103px 133px;
  }
}

.interested__title {
  @include title;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
    margin: 34px 0;
  }
}

.interested__text {
  margin-bottom: 16px;
  font-weight: 300;
  padding-right: 8px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 65px;
    padding-top: 25px;
    font-weight: 300;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.interested__text--questions {
  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    letter-spacing: 0.01em;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: 0.3px;
    padding-top: 10px;
    margin-bottom: 36px;
  }
}

.interested__button {
  color: $basic-yellow;

  &:hover {
    color: $special-orange;
  }

  &:active {
    opacity: 0.3;
  }
}
