.intro {
  background-color: $basic-blue;
  margin-top: -1px;
  background-image:
    url("../img/traveller-illustration-mobile.png"),
    url("../img/globe-back-mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-position:
    right 48px top 147px,
    left top -76px;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/traveller-illustration-mobile@2x.png"),
      url("../img/globe-back-mobile@2x.png");
    background-size: 192px auto, 320px auto;
  }

  @media (min-width: $tablet-width) {
    background-color: $special-midnight;
    background-image:
      url("../img/traveller-illustration-tablet.png"),
      url("../img/globe-back-tablet.svg");
    background-repeat: no-repeat, no-repeat;
    background-position:
      bottom 281px right 111px,
      bottom 142px left;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/traveller-illustration-tablet@2x.png"),
        url("../img/globe-back-tablet@2x.png");
      background-size: 372px auto, 768px auto;
    }
  }

  @media (min-width: $desktop-width) {
    @include flex;

    justify-content: space-between;
    padding: 76px 60px 124px 60px;
    background-color: $basic-blue;
    background-image:
      url("../img/traveller-illustration-desktop.png"),
      url("../img/globe-back-desktop.png");
    background-repeat: no-repeat, no-repeat;
    background-position:
      bottom 1px right 405px,
      bottom 1px left;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/traveller-illustration-desktop@2x.png"),
        url("../img/globe-back-desktop@2x.png");
      background-size: 431px auto, 1440px auto;
    }
  }
}
