.level-filter {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    flex: 1;

    @include flex;
    align-items: center;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 12px;
  }
}

.level-filter__level-controls {
  @include flex;
  @include flex-center;

  text-align: center;
  position: relative;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    min-width: 148px;
    order: 2;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
  }
}

.level-filter__label {
  @include flex;
  @include flex-center;

  flex-basis: 50%;
}

.level-filter__input {
  width: 98%;
  padding: 13px 10px 8px 10px;
  text-align: center;
  font-family: $main-font;
  border: 1px solid $special-grey-borders;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.06em;
  background-color: $white;

  &:hover {
    border-color: $special-grey-hover;
  }

  &:active {
    border-color: $basic-blue;
  }

  @media (min-width: $tablet-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.04em;
  }
}

.level-filter__separator {
  position: absolute;
  width: 16px;
  height: 2px;
  border: 2px solid $white;
  background-color: $special-grey-borders;
}

.level-filter__range-controls {
  position: relative;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    margin-right: 61px;
    order: 1;
    flex: 1;
  }
}

.level-filter__bar {
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, $special-blue-dark-opacity 30%, $basic-blue-dark 30%);

  @media (min-width: $tablet-width) {
    height: 3px;
  }
}

.level-filter__handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $basic-blue-dark;

  &:hover {
    transform: translateY(-50%) scale(1.4);
  }

  &:active {
    box-shadow: 0 3px 7px $range-shadow;
  }

  @media (min-width: $tablet-width) {
    width: 13px;
    height: 13px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.level-filter__handle--min {
  left: 30%;
}

.level-filter__handle--max {
  left: calc(100% - 10px);
}
