.main-nav {
  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 0 0 17px;
  }
}

.main-nav__list {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-weight: 500;
    font-size: 60px;
    line-height: 71px;
  }

  @media (min-width: $desktop-width) {
    @include flex;
    @include flex-center;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
}

.main-nav__item {
  @media (min-width: $desktop-width) {
    margin-right: 34px;
  }
}

.main-nav__link {
  &:hover {
    color: $basic-yellow;
  }

  &:active {
    opacity: 0.3;
  }
}
