.main-nav {
  padding-bottom: 50px;
}

.main-nav__list {
  margin-bottom: 50px;
}

.main-nav__item {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
}
