
.main--companions {
  position: relative;
  padding-bottom: 46px;
  background-color: $basic-blue-light;
  color: $basic-blue-dark;

  @media (min-width: $tablet-width) {
    padding-bottom: 62px;
  }
}

.main--catalog {
  padding-bottom: 75px;

  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
  }
}
