.menu {
  @include flex;

  position: relative;
  text-align: center;

  @media (min-width: $mobile-width) and (max-width: 1439px) {
    color: $special-midnight;
  }
}

.menu__header {
  @include flex;

  flex-basis: 100%;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-basis: 50%;
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 25%;
    padding: 0;
  }
}

.menu__body {
  position: relative;
  display: none;
  flex-basis: 100%;
  padding-top: 76px;

  &:before {
    @media (min-width: $desktop-width) {
      position: absolute;
      left: -90px;
      top: 27px;
      content: "";
      width: 60px;
      height: 2px;
      background-color: $white;
    }
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 57px;
  }

  @media (min-width: $desktop-width) {
    @include flex;

    flex-basis: 61%;
    justify-content: space-between;
    padding: 0;
  }
}

.menu__body--menu-open {
  display: block;
  padding-top: 69px;

  @media (min-width: $tablet-width) {
    padding-top: 92px;
  }
}
