.menu {
  @include flex;

  position: relative;
  text-align: center;
  color: $special-midnight;

  @media (min-width: $desktop-width) {
    background-color: $basic-blue;
  }
}

.menu__header {
  @include flex;

  flex-basis: 100%;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-basis: 50%;
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 25%;
    padding: 0;
  }
}

.menu__body {
  display: none;
  flex-basis: 100%;
  padding-top: 76px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 57px;
  }

  @media (min-width: $desktop-width) {
    @include flex;

    flex-basis: 61%;
    justify-content: space-between;
    padding: 0;
    background-color: $basic-blue;
  }
}
