@mixin visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin button-reset {
  background: none;
  border: none;
}

@mixin link-reset {
  text-decoration: none;
  color: inherit;
}

@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
}

@mixin title {
  color: $special-orange;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

@mixin popup-shadow {
  box-shadow: 0 2px 8px $popup-shadow;
}
