.page-body {
  padding: 0 25px;
  margin: 0;
  font-family: $main-font;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  background-color: $basic-blue;
}

.page-body__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
}
