.page-body {
  margin: 0;
  font-family: $main-font;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.page-body__title {
  font-weight: bold;
  text-align: center;
  font-size: 36px;
  padding: 10px 25px 10px 25px;
  border-radius: 0 0 26px 26px;
  line-height: 40px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
    padding-top: 32px;
  }

  @media (min-width: $desctop-width) {
    padding-left: 67px;
    text-align: left;
    margin-bottom: 101px;
  }
}

.page-body__title--inner {
  width: 100%;
  padding: 62px 0 10px 0;
  margin-bottom: 20px;
  color: $white;
  background-color: $basic-blue;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-bottom: 62px;
  }

  @media (min-width: $desctop-width) {
    flex-basis: 50%;
    padding: 62px 0 0 124px;
    margin-bottom: 171px;
  }
}

.page-body__section-title {
  @include title;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $desctop-width) {
    align-self: start;
    justify-self: start;
    margin: 0;
  }
}

// .page-body__contacts {
//   @include flex;

//   justify-content: center;

//   @media (min-width: $tablet-width) {
//     position: absolute;
//     top: 40px;
//     right: 40px;
//   }
// }

.page-body__title--index {
  border-radius: none;
}
