.page-header {
  padding: 27px 25px 27px 27px;
  background-color: $basic-blue;
  color: $white;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    padding: 40px;
    background-color: $special-midnight;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 60px 0 60px;
  }
}

.page-header--scroll {
  padding: 21px 60px 21px 60px;
  color: $special-midnight;
  background-color: $white;
}

.page-header--menu-open {
  background-color: $white;
  position: absolute;
  padding-bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.page-header--inner {
  // background-color: $basic-blue;
  padding: 20px 25px 30px 27px;

  @media (min-width: $desktop-width) {
    position: relative;
    padding-bottom: 148px;
    border-radius: 0 0 26px 26px;
  }
}

.page-header--catalog {
  @media (min-width: $desktop-width) {
    padding-bottom: 60px;
  }
}

.page-header__toggle-menu-button {
  background-image: url("../img/menu-icon.svg");
  background-repeat: no-repeat;
  width: 25px;
  background-position: center;

  @media (min-width: $tablet-width) {
    transform: translate(50%, -3px);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__toggle-menu-button--menu-open {
  background-image: url("../img/icon_menu_mobile_close.svg");
}
