.page-header {
  padding: 27px 19px 0 27px;
  background-color: $basic-blue;

  @media (min-width: $tablet-width) {
    padding: 40px;
    background-color: $special-midnight;
  }

  @media (min-width: $desktop-width) {
    padding: 46px 60px 0 60px;
    background-color: $basic-blue;
  }
}

.page-header--inner {
  background-color: $basic-blue;

  @media (min-width: $desktop-width) {
    position: relative;
    padding-bottom: 148px;
    border-radius: 0 0 26px 26px;
  }
}

.page-header--catalog {
  @media (min-width: $desktop-width) {
    padding-bottom: 60px;
  }
}

.page-header__toggle-menu-button {
  @media (min-width: $tablet-width) {
    transform: translateX(50%);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
