.pagination-list {
  @include flex;
  @include flex-center;
}

.pagination__item {
  @include flex;
  @include flex-center;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: $special-blue-dark-opacity;
  margin-right: 16px;
}

.pagination__link {
  cursor: pointer;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.pagination__item--active {
  background-color: $basic-blue-dark;
}
