.plans {
  position: relative;
  top: -25px;
  padding: 8px 25px 45px 25px;
  background-color: $special-blue-light;
  border-radius: 30px 30px 0 0;
  color: $basic-blue-dark;

  @media (min-width: $tablet-width) {
    padding: 56px 75px 88px 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 54px 58px 64px 124px;
  }
}

.plans__title {
  @include title--blue;

  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 48px 0;
  }
}

.plans__list {
  list-style-position: inside;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include flex;
  }
}

.plans__item {
  padding: 9px 25px 24px 24px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 16px 26px 3px 40px;
    flex-basis: 100%;
  }

  @media (min-width: $desktop-width) {
    @include flex;
  }
}

.plans__number {
  margin-right: 6px;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
}

.plans__info {
  @media (min-width: $tablet-width) {
    @include flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $special-grey-opacity-borders;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.plans__cities {
  display: inline-block;
  text-transform: none;
  font-weight: bold;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    @include flex;

    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    flex-basis: 50%;
  }
}

.plans__companion {
  line-height: 1px;

  // @media (min-width: $tablet-width) {
  //   margin-right: 10px;
  // }
}

.plans__dates {
  margin-bottom: 24px;
  line-height: 10px;

  @media (min-width: $tablet-width) {
    @include flex;

    width: 44%;
    margin: 0;
  }
}

.plans__button {
  letter-spacing: 0.03em;
  color: $special-black-opacity;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}
