.profile {
  position: relative;
  color: $basic-blue;
  padding: 0 0 34px 0;
  background-color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    padding: 0 0 84px 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 100px;
  }
}

.profile__title {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $basic-blue-light;
  padding: 0 18px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    top: unset;
    bottom: -25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: 0.07em;
  }
}

.profile__title--tags {
  @media (min-width: $desktop-width) {
    left: 61px;
    padding: 0 14px;
  }
}

.profile__title--transport {
  @media (min-width: $tablet-width) and (max-width: 1439px) {
    bottom: -32px;
    left: 147px;
  }
}

.profile__content {
  @include flex;
  @include flex-center;
  position: relative;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 12% 24%;
  }
}

.profile__container {
  position: relative;
  flex-basis: 100%;
  border: 1px solid $special-grey-borders;
  border-radius: 10px;
  padding: 22px 28px 18px 25px;
  text-align: center;
  margin: 0 25px 25px 25px;
}

.profile__container--transport {
  padding: 15px 28px 14px 29px;

  @media (min-width: $tablet-width) {
    order: 3;
    flex-basis: 30%;
    padding: 26px 35px 24px 37px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: 3;
    margin: 0 61px 0 0;
    width: 59%;
    justify-self: end;
  }
}

.profile__container--tags {
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    order: 6;
    margin: 0 75px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    grid-row: 3;
    margin: 0 0 0 124px;
    width: 61%;
  }
}

.profile__tags {
  box-sizing: border-box;
  font-family: $main-font;
  flex-basis: 100%;
  width: 100%;

  @include text-area-reset;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $special-grey-opacity;
  border: 1px solid $special-grey-borders;
  border-radius: 10px;
  padding: 24px 28px 20px 25px;

  &:hover {
    border-color: $special-grey-borders-hover;
  }

  &:active {
    border-color: $special-grey;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 20px;
    line-height: 22px;
    padding: 34px 28px 13px 37px;
  }
}

.profile__image {
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    order: 4;
    margin: 0 75px 31px 0;
    border-radius: 7px 7px 0 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / -1;
    grid-row: 1;
    z-index: 2;
    justify-self: start;
    align-self: end;
    margin: 0 0 -7px 0;
  }
}
