.quote {
  margin: 0;
  padding: 28px 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.quote__text {
  margin: 0 0 18px 0;
  padding: 0;
}

.quote__author {
  font-weight: bold;
}
