.quote {
  margin: 0;
  padding: 3px 100px 29px 50px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    padding: 76px 100px 211px 72px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 20%;
    padding: 42px 23px 0 0;
    text-align: left;
  }
}

.quote__text {
  margin: 0 0 18px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    padding-right: 300px;
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.quote__author {
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
    padding-right: 220px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
