.social-list {
  @include flex;
  @include flex-center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.social-list__item {
  width: 45px;
  height: 45px;
  padding: 13px;
}

.social-list__link {
  @include flex;
  @include flex-center;
  color: $special-midnight;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-color: $special-orange-light;
  }

  &:active {
    color: $special-midnight-opacity;
  }
}

.social-list__link--menu {
  &:hover {
    background-color: inherit;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list--footer {
  padding: 33px;

  @media (min-width: $tablet-width) {
    padding: 0;
    transform: translate(47%, -7%);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    transform: translateX(50%);
  }
}

.social-list__item--footer {
  @include flex;
  @include flex-center;

  padding: 0;
  border-radius: 50%;
  background-color: $basic-yellow;

  @media (min-width: $tablet-width) {
    width: 62px;
    height: 62px;
  }
}

.social-list__icon--instagram {
  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }
}

.social-list__icon--vkontakte {
  @media (min-width: $tablet-width) {
    width: 28px;
    height: 18px;
  }
}

.social-list__icon--facebook {
  @media (min-width: $tablet-width) {
    width: 14px;
    height: 26px;
  }
}
