.social-list {
  @include flex;
  @include flex-center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.social-list__item {
  padding: 13px;
}

.social-list__link {
  @include flex;
  @include flex-center;
}

.social-list--footer {
  padding: 33px;

  @media (min-width: $tablet-width) {
    padding: 37px 0;
    transform: translateX(50%);
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.social-list__item--footer {
  @include flex;
  @include flex-center;

  padding: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $basic-yellow;

  @media (min-width: $tablet-width) {
    width: 62px;
    height: 62px;
  }
}
