.steps-list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 25px;
  background: linear-gradient(transparent 50%, $special-midnight 50%);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: transparent;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
  }
}

.steps-list__item {
  box-sizing: border-box;
  min-height: 80px;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 30px;
  gap: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $basic-blue;
  padding: 23px;
  border-radius: 10px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-template-columns: 1fr;
    padding-right: 190px;
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr min-content;
    padding-right: 32px;
    gap: 100px;
  }
}

.steps-list__item--direction {
  background-color: $special-orange;
}

.steps-list__item--ideas {
  background-color: $special-yellow-dark;
}

.steps-list__item--similarities {
  background-color: $special-orange-light;
}

.steps-list__item--travell {
  background-color: $basic-yellow;
}

.steps-list__number {
  color: $white;
}
