.steps-list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 25px;
  background: linear-gradient(transparent 50%, $special-midnight 50%);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: transparent;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
  }
}

.steps-list__item {
  box-sizing: border-box;
  min-height: 88px;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 30px;
  gap: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $basic-blue;
  padding: 23px;
  border-radius: 10px 10px 0 0;
  margin: -8px 0 0 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    border-radius: 10px;
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    grid-template-columns: 1fr;
    gap: 10px;
    border-radius: 20px 20px 0 0;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 0 -1px;
    padding: 31px 100px 22px 33px;

    &:nth-child(2n - 1) {
      margin: 0 -13px 0 0;
    }

    &:first-child {
      border-radius: 20px 0 0 0;
    }

    &:nth-child(2) {
      border-radius: 20px 20px 0 0;
    }

    &:nth-last-child(2) {
      border-radius: 0 0 0 20px;
      margin-top: -1px;
    }

    &:last-child {
      border-radius: 0 0 20px 20px;
      margin-top: -1px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr min-content;
    gap: 50px;
    border-radius: 20px;
    margin: 0;
    margin-left: -14px;
    font-size: 24px;
    line-height: 24px;
    padding: 29px 22px;

    &:first-child {
      margin: 0 -20px 0 0;
    }

    &:last-child {
      border-radius: 20px;
    }
  }
}

.steps-list__item--direction {
  background-color: $special-orange;

  @media (min-width: $desktop-width) {
    padding: 30px 69px 29px 34px;
  }
}

.steps-list__item--ideas {
  background-color: $special-yellow-dark;

  @media (min-width: $desktop-width) {
    padding: 29px 65px 29px 29px;
    margin-right: -33px;
  }
}

.steps-list__item--similarities {
  background-color: $special-orange-light;

  @media (min-width: $desktop-width) {
    padding: 29px 75px 29px 31px;
    margin: 0 -58px 0 0;
  }
}

.steps-list__item--travell {
  background-color: $basic-yellow;
  min-height: 76px;
  padding: 23px 23px 20px 23px;

  @media (min-width: $tablet-width) {
    padding: 31px 100px 22px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 33px 29px 31px;
    margin-left: 14px;
  }
}

.steps-list__number {
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 24px;
  }
}
