.tag-list {
  @include flex;
  @include flex-center;

  width: 200px;
  margin: auto auto 10px auto;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 230px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 21px;
  }
}

.tag-list--catalog {
  padding: 12px 0;
  justify-content: flex-start;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    grid-area: tag-list;
    padding: 0;
  }
}

.tag-list__item {
  margin-right: 5px;
}
