.tag-list {
  @include flex;
  @include flex-center;

  width: 200px;
  margin: auto auto 10px auto;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 230px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 21px;
  }
}

.tag-list--catalog {
  padding: 13px 8px;
  justify-content: flex-start;
  margin: 0;

  @media (min-width: 558px) and (max-width: 767px) {
    flex-basis: 100%;
  }

  @media (min-width: $tablet-width) {
    width: 64%;
    grid-area: tag-list;
    padding: 10px 0 0 35px;
    margin-top: -10px;
  }

  @media (min-width: $desktop-width) {
    padding: 17px 0 0 53px;
  }
}

.tag-list__item {
  margin-right: 5px;
}

.tag-list--bigger-padding {
  padding-top: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 21px;
  }
}
