.user-card {
  font-size: 15px;
  line-height: 16px;
  position: relative;
  background-color: $white;
  color: $special-grey;
  margin-bottom: 9px;
  border-radius: 10px;
  text-align: center;
  max-width: 270px;

  @media (min-width: $tablet-width) {
    max-width: 285px;
    margin-bottom: 60px;
    border-radius: 20px;
  }
}

.user-card__header {
  @include flex;
  justify-content: space-between;
}

.user-card__container {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-card__likes {
  @include flex;

  align-items: center;
  position: absolute;
  width: 100px;
  top: 40px;
  left: 49px;
}

.user-card__likes--catalog {
  @media (min-width: $tablet-width) {
    grid-area: button-likes;
    top: 19px;
    left: 180px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    top: 8px;
    left: 194px;
  }
}

.user-card__like-container {
  @include flex;
  @include flex-center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: $basic-blue-light;
}

.user-card__like-container--catalog {
  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
  }
}

.user-card__heart-icon--catalog {
  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.user-card__icon-path--liked {
  fill-rule: nonzero;
  color: $red;
}

.user-card__like-container:hover {
  background-color: $special-blue-grey-light;
}

.user-card__like-container:hover .user-card__heart-icon {
  opacity: 1;
}

.user-card__like-container:active .user-card__heart-icon {
  opacity: 0.3;
}

.user-card__like-container--liked {
  background-color: $special-light-red;
}

.user-card__like-container--liked:hover {
  background-color: $special-hover-red;
}

.user-card__content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px 16px 10px;

  @media (min-width: $tablet-width) {
    padding: 1px 10px 16px 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 1px 10px 15px 10px;
  }
}

.user-card__user-name {
  position: relative;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: $basic-blue-dark;
  padding: 1px 0 0 0;
  margin-bottom: 16px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 24px;
  }
}

.user-card__user-name--online {
  @media (min-width: $tablet-width) {
    margin-left: -21px;
  }
}

.user-card__user-name--online::before {
  background-color: $special-green;
}

.user-card__user-name--offline::before {
  background-color: $special-red;
}

.user-card__likes-quantity {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding-left: 7px;
  padding-top: 3px;
}

.user-card__likes-quantity--catalog {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.user-card__text-container {
  position: relative;
  margin-right: -26px;
  margin-left: -26px;
  width: calc(100% + 50px);
  height: 1px;
  background-color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    grid-area: text-container;
  }
}

.user-card__text-container--catalog {
  margin-top: 6px;

  @media (min-width: $tablet-width) {
    margin-top: 21px;
  }
}

.user-card__text {
  position: absolute;
  top: -12px;
  border-left: 10px solid $white;
  border-right: 10px solid $white;
  background-color: $white;
}

.user-card__text--catalog {
  top: -6px;
}

.user-card__text--left {
  left: 15px;
}

.user-card__text--right {
  right: 25px;
}

.user-card__text--catalog-left {
  left: 25px;

  @media (min-width: $tablet-width) {
    left: 65px;
  }
}

.user-card__text--catalog-right {
  right: 10px;
}

.user-card__group {
  width: 100%;
  padding-top: 25px;
  margin-bottom: 14px;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: start;

  @media (min-width: $tablet-width) {
    grid-area: transport-list;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr auto;
    justify-items: start;
    margin: 0;
  }
}

.user-card__group--catalog {
  padding: 0;
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding-bottom: 27px;
  }
}

.user-card__group--two-flags {
  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
  }
}

.user-card--catalog {
  @include flex;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: self-start;
    grid-template-areas:
      "profile-photo user-name user-status transport-list"
      "profile-photo tag-list user-status transport-list"
      "profile-photo button-likes button-likes transport-list"
      "text-container text-container text-container text-container"
      "flag-list flag-list flag-list flag-list";
    margin: 0;
    min-width: 100%;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 10px;
    border-radius: 25px;
    grid-template-columns: 1fr 38% 1fr 1fr;
    grid-template-areas:
      "profile-photo user-name flag-list flag-list"
      "profile-photo tag-list flag-list flag-list"
      "profile-photo button-likes transport-list transport-list";
  }
}

.user-card__image {
  vertical-align: top;

  @media (min-width: $tablet-width) {
    grid-area: profile-photo;
  }
}

.user-card__user-name--catalog {
  flex: 0 1 36%;
  text-align: left;
  margin-top: 0;
  padding-left: 16px;

  &::before {
    left: unset;
    top: 11px;
    right: -62px;

    @media (min-width: $tablet-width) {
      top: 14px;
      right: -33px;
    }

    @media (min-width: $desktop-width) {
      left: 26px;
      top: 45px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-area: user-name;
    grid-column: 2 / 4;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    text-align: left;
    padding: 0 0 0 33px;
    justify-self: baseline;
  }

  @media (min-width: $desktop-width) {
    padding: 29px 0 0 52px;
    align-self: center;
  }
}

.user-card__text-container--hide-on-tablets {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-card__text-container--hide-on-desktop {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.user-card__user-status {
  display: block;
  position: absolute;
  right: -62px;
  top: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    right: -33px;
    top: 10px;
    width: 8px;
    height: 8px;
  }

  @media (min-width: $desktop-width) {
    left: 26px;
    top: 41px;
  }
}

.user-card__user-status--index {
  left: 53px;
  top: 30px;
}

.user-card__user-status--offline {
  background-color: $special-red;
}

.user-card__user-status--online {
  background-color: $special-green;
}
