.user-score {
  box-sizing: border-box;
  position: relative;

  @include flex;
  @include flex-center;
  flex-direction: column;
  width: 60px;
  height: 60px;
  margin-bottom: 18px;
  border-radius: 50%;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $white;
  background-color: rgba($black, 0.6);
}

.user-score--index {
  position: absolute;
  left: 17px;
  top: 17px;

  @media (min-width: $tablet-width) {
    left: 22px;
    top: 20px;
  }
}

.user-score__score {
  border-bottom: 1px solid $white;
  font-weight: bold;
  font-size: 24px;
  margin-top: 9px;
  line-height: 19px;
}

.user-score--profile {
  width: 100px;
  height: 100px;
  margin-right: 35px;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: $basic-blue;
  background: transparent;

  @media (min-width: $tablet-width) {
    order: 2;
    margin: 0 0 40px 75px;
  }

  @media (min-width: $desktop-width) {
    color: $white;
    margin: 0 0 149px 75px;
  }
}

.user-score__score--profile {
  font-weight: bold;
  font-size: 38px;
  line-height: 38px;
  border-bottom: 1px solid $basic-blue;
  margin-bottom: 6px;

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid $white;
  }
}

.user-score__score--directions {
  margin-bottom: 3px;
}

.user-score__progress-ring {
  position: absolute;
  right: -30px;
  top: -30px;
}

.user-score__progress-ring--directions {
  width: 108px;
  height: 108px;
  right: -3px;
  top: 2px;

  @media (min-width: $tablet-width) {
    width: 102px;
    height: 102px;
    right: 2px;
    top: -1px;
  }
}

.user-score__progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: $special-orange;
  stroke-width: 4px;
}

.user-score__progress-ring__circle--directions {
  stroke-width: 3px;
}
